/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image: url("../images/cover-image-light.png");
  --background: rgb(255, 238, 246);
  --big-color: #ffc2e6;
  --big-color-back: #ff8dcb;
  --black: #353430;
  --text: #353430;
  --title: #353430;
}
@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --background: #ffc0cb;
    --big-color: #ffc2e6;
    --big-color-back: #ff8dcb;
    --black: #353430;
    --text: #353430;
    --title: #353430;
  }

  /* Остальные стили, только при необходимости */
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
